IoTDataSimulationService/Employee.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name='EmployeeType'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='CompanyName' type='xs:string'/>
        <xs:element name='EmployeeName' type='xs:string'/>
        <xs:element name='Age' type='xs:int'/>
        <xs:element name='Salary' type='xs:int'/>
      </xs:sequence>
      <xs:attribute name='EmployeeID' type='xs:string'/>
    </xs:complexType>
  </xs:element>
</xs:schema>